.refunds-page {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    background-color: #007bff;
    color: white;
    padding: 20px;
}

.sidebar h1 {
    font-size: 1.5rem;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
    font-size: 1.2rem;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f7f9fc;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    padding: 5px 10px;
    font-size: 1rem;
}

.auth-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #007bff;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-refund {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-refund-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.filter-inputs input {
    padding: 5px 10px;
    font-size: 1rem;
    margin-right: 10px;
}

.refunds-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.refunds-table th, .refunds-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.refunds-table th {
    background-color: #f1f1f1;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal h2 {
    margin-top: 0;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal-input {
    margin-bottom: 20px;
    padding: 9px;
    font-size: 1rem;
    border: 3px solid #ddd;
    border-radius: 4px;
}

.submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.refunds-table span {
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 50px;
    margin-right: 5px
}

.green-circle {
    background-color: green;
}

.red-circle {
    background-color: red;
}

.yellow-circle {
    background-color: yellow;
}

.modal-label {
    color: darkslategray;
    font-size:14px;
    padding-left: 5px;
}
